sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"RGULLL+Calibri";
	src:url("4b591db3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.33em;
	font-family: "RGULLL+Calibri";
	color: #000000;
}
.stl_08 {
	line-height: 1.220703em;
}
.stl_09 {
	letter-spacing: 0.001em;
}

.ie .stl_09 {
	letter-spacing: 0.0222px;
}
@font-face {
	font-family:"VWHCMW+È«ÐÂÓ²±Ê¿¬Êé¼ò";
	src:url("fe5f0f74-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 5em;
	font-family: "VWHCMW+È«ÐÂÓ²±Ê¿¬Êé¼ò", "Times New Roman";
	color: #000000;
}
.stl_11 {
	line-height: 1.09375em;
}
.stl_12 {
	letter-spacing: -0.0028em;
}

.ie .stl_12 {
	letter-spacing: -0.2219px;
}
@font-face {
	font-family:"HLGQBH+¿¬Ìå";
	src:url("d7d0329f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1.67em;
	font-family: "HLGQBH+¿¬Ìå", "Times New Roman";
	color: #000000;
}
.stl_14 {
	line-height: 1em;
}
.stl_15 {
	letter-spacing: 0.0032em;
}

.ie .stl_15 {
	letter-spacing: 0.0854px;
}
.stl_16 {
	letter-spacing: 0.006em;
}

.ie .stl_16 {
	letter-spacing: 0.16px;
}
@font-face {
	font-family:"WNJTGS+ÃÔÄã¼òÏ¸Éºº÷";
	src:url("186c622e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1.33em;
	font-family: "WNJTGS+ÃÔÄã¼òÏ¸Éºº÷";
	color: #000000;
}
.stl_18 {
	line-height: 1.097656em;
}
.stl_19 {
	letter-spacing: 0em;
}

.ie .stl_19 {
	letter-spacing: 0px;
}
.stl_20 {
	letter-spacing: 0.003em;
}

.ie .stl_20 {
	letter-spacing: 0.0638px;
}
@font-face {
	font-family:"SMEOQF+ÃÔÄã¼òÏ¸Éºº÷";
	src:url("96097363-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 1.33em;
	font-family: "SMEOQF+ÃÔÄã¼òÏ¸Éºº÷", "Times New Roman";
	color: #000000;
}
.stl_22 {
	letter-spacing: 0.0002em;
}

.ie .stl_22 {
	letter-spacing: 0.005px;
}
@font-face {
	font-family:"SSDSEA+ÕÅº£É½ÈñÏßÌå¼ò";
	src:url("6ebc0088-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.92em;
	font-family: "SSDSEA+ÕÅº£É½ÈñÏßÌå¼ò", "Times New Roman";
	color: #000000;
}
.stl_24 {
	line-height: 1.15625em;
}
.stl_25 {
	letter-spacing: -0.0018em;
}

.ie .stl_25 {
	letter-spacing: -0.027px;
}
@font-face {
	font-family:"FBOBNL+ÕÅº£É½ÈñÏßÌå¼ò";
	src:url("5ede7af8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.92em;
	font-family: "FBOBNL+ÕÅº£É½ÈñÏßÌå¼ò";
	color: #000000;
}
@font-face {
	font-family:"TMTFDV+ÊéÌå·»Ñ©´¿Ìå3500";
	src:url("b2a0a627-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 1.17em;
	font-family: "TMTFDV+ÊéÌå·»Ñ©´¿Ìå3500", "Times New Roman";
	color: #000000;
}
.stl_28 {
	letter-spacing: -0.1453em;
}

.ie .stl_28 {
	letter-spacing: -2.72px;
}
@font-face {
	font-family:"VDJJNF+Century Gothic";
	src:url("239330f5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 1.33em;
	font-family: "VDJJNF+Century Gothic";
	color: #000000;
}
.stl_30 {
	line-height: 1.191406em;
}
.stl_31 {
	letter-spacing: 0.0009em;
}

.ie .stl_31 {
	letter-spacing: 0.0187px;
}
@font-face {
	font-family:"UQSAWV+Î¢ÈíÑÅºÚ";
	src:url("3cb82055-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.88em;
	font-family: "UQSAWV+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #000000;
}
.stl_33 {
	line-height: 1.319824em;
}
.stl_34 {
	letter-spacing: -0.0067em;
}

.ie .stl_34 {
	letter-spacing: -0.0938px;
}
@font-face {
	font-family:"RCUKQS+Comic Sans MS";
	src:url("53886c03-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.92em;
	font-family: "RCUKQS+Comic Sans MS";
	color: #000000;
}
.stl_36 {
	line-height: 1.393555em;
}
.stl_37 {
	letter-spacing: -0.0021em;
}

.ie .stl_37 {
	letter-spacing: -0.0315px;
}
@font-face {
	font-family:"EQWPRD+ÖÐÉ½ÐÐÊé°ÙÄê¼ÍÄî°æ";
	src:url("62071e44-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 1.17em;
	font-family: "EQWPRD+ÖÐÉ½ÐÐÊé°ÙÄê¼ÍÄî°æ", "Times New Roman";
	color: #000000;
}
.stl_39 {
	letter-spacing: -0.0287em;
}

.ie .stl_39 {
	letter-spacing: -0.5366px;
}
@font-face {
	font-family:"DDPNVL+Ó×Ô²";
	src:url("9c2fb9e8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 1.67em;
	font-family: "DDPNVL+Ó×Ô²", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"TNWMGW+Î¢ÈíÑÅºÚ,Bold";
	src:url("462fc0b7-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 1.33em;
	font-family: "TNWMGW+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #000000;
}
.stl_42 {
	letter-spacing: 0.0016em;
}

.ie .stl_42 {
	letter-spacing: 0.0344px;
}
@font-face {
	font-family:"KHOGNH+Î¢ÈíÑÅºÚ";
	src:url("40312237-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 1.5em;
	font-family: "KHOGNH+Î¢ÈíÑÅºÚ";
	color: #000000;
}
.stl_44 {
	font-size: 1.17em;
	font-family: "DDPNVL+Ó×Ô²", "Times New Roman";
	color: #000000;
}
.stl_45 {
	letter-spacing: -0.0026em;
}

.ie .stl_45 {
	letter-spacing: -0.0481px;
}
.stl_46 {
	font-size: 1.17em;
	font-family: "UQSAWV+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #000000;
}
.stl_47 {
	font-size: 1.17em;
	font-family: "KHOGNH+Î¢ÈíÑÅºÚ";
	color: #000000;
}
@font-face {
	font-family:"NEVPNJ+Wingdings";
	src:url("2d9864e4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_48 {
	font-size: 0.83em;
	font-family: "NEVPNJ+Wingdings", "Times New Roman";
	color: #000000;
}
.stl_49 {
	line-height: 1.109863em;
}
@font-face {
	font-family:"WLJKCJ+ËÎÌå";
	src:url("faf1a25c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_50 {
	font-size: 0.83em;
	font-family: "WLJKCJ+ËÎÌå", "Times New Roman";
	color: #000000;
}
.stl_51 {
	letter-spacing: 0.0031em;
}

.ie .stl_51 {
	letter-spacing: 0.0417px;
}
@font-face {
	font-family:"OHFVFJ+Calibri,Italic";
	src:url("e78a0bbe-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_52 {
	font-size: 0.83em;
	font-family: "OHFVFJ+Calibri,Italic";
	color: #000000;
}
.stl_53 {
	letter-spacing: 0.0028em;
}

.ie .stl_53 {
	letter-spacing: 0.0365px;
}
.stl_54 {
	letter-spacing: -0.0025em;
}

.ie .stl_54 {
	letter-spacing: -0.0459px;
}
.stl_55 {
	letter-spacing: 0.0033em;
}

.ie .stl_55 {
	letter-spacing: 0.0621px;
}
.stl_56 {
	letter-spacing: 0.0022em;
}

.ie .stl_56 {
	letter-spacing: 0.0292px;
}
.stl_57 {
	letter-spacing: -0.0008em;
}

.ie .stl_57 {
	letter-spacing: -0.0108px;
}
.stl_58 {
	letter-spacing: 0.0018em;
}

.ie .stl_58 {
	letter-spacing: 0.0243px;
}
.stl_59 {
	letter-spacing: 0.0037em;
}

.ie .stl_59 {
	letter-spacing: 0.0487px;
}
.stl_60 {
	letter-spacing: -0.0022em;
}

.ie .stl_60 {
	letter-spacing: -0.0421px;
}
.stl_61 {
	letter-spacing: 0.0017em;
}

.ie .stl_61 {
	letter-spacing: 0.0232px;
}
.stl_62 {
	letter-spacing: -0.003em;
}

.ie .stl_62 {
	letter-spacing: -0.0562px;
}
.stl_63 {
	letter-spacing: -0.0029em;
}

.ie .stl_63 {
	letter-spacing: -0.0544px;
}
.stl_64 {
	letter-spacing: 0.0034em;
}

.ie .stl_64 {
	letter-spacing: 0.0449px;
}
.stl_65 {
	letter-spacing: -0.01em;
}

.ie .stl_65 {
	letter-spacing: -0.1873px;
}
.stl_66 {
	font-size: 1.17em;
	font-family: "RGULLL+Calibri";
	color: #000000;
}
.stl_67 {
	font-size: 0.92em;
	font-family: "RGULLL+Calibri";
	color: #000000;
}
.stl_68 {
	letter-spacing: -0.0127em;
}

.ie .stl_68 {
	letter-spacing: -0.1873px;
}
.stl_69 {
	letter-spacing: 0.0029em;
}

.ie .stl_69 {
	letter-spacing: 0.039px;
}
.stl_70 {
	letter-spacing: -0.0014em;
}

.ie .stl_70 {
	letter-spacing: -0.0267px;
}
.stl_71 {
	letter-spacing: -0.0016em;
}

.ie .stl_71 {
	letter-spacing: -0.029px;
}
.stl_72 {
	letter-spacing: -0.0355em;
}

.ie .stl_72 {
	letter-spacing: -0.4719px;
}
@font-face {
	font-family:"DMBPSE+ºÚÌå";
	src:url("4e94be29-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_73 {
	font-size: 2.33em;
	font-family: "DMBPSE+ºÚÌå", "Times New Roman";
	color: #000000;
}
.stl_74 {
	letter-spacing: 0.0015em;
}

.ie .stl_74 {
	letter-spacing: 0.0559px;
}
.stl_75 {
	letter-spacing: 0.0008em;
}

.ie .stl_75 {
	letter-spacing: 0.0305px;
}
.stl_76 {
	letter-spacing: 0.0013em;
}

.ie .stl_76 {
	letter-spacing: 0.0351px;
}
@font-face {
	font-family:"EUFWKR+»ªÎÄÖÐËÎ";
	src:url("2d46029e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_77 {
	font-size: 0.88em;
	font-family: "EUFWKR+»ªÎÄÖÐËÎ";
	color: #000000;
}
.stl_78 {
	line-height: 1.137em;
}
.stl_79 {
	letter-spacing: -0.0035em;
}

.ie .stl_79 {
	letter-spacing: -0.0498px;
}
@font-face {
	font-family:"GQQFWQ+»ªÎÄÖÐËÎ";
	src:url("27c65839-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_80 {
	font-size: 0.88em;
	font-family: "GQQFWQ+»ªÎÄÖÐËÎ", "Times New Roman";
	color: #000000;
}
.stl_81 {
	letter-spacing: -0.0032em;
}

.ie .stl_81 {
	letter-spacing: -0.0451px;
}
.stl_82 {
	letter-spacing: -0.0062em;
}

.ie .stl_82 {
	letter-spacing: -0.0872px;
}
.stl_83 {
	font-size: 0.83em;
	font-family: "UQSAWV+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #000000;
}
.stl_84 {
	letter-spacing: 0.0014em;
}

.ie .stl_84 {
	letter-spacing: 0.0188px;
}
.stl_85 {
	letter-spacing: 0.012em;
}

.ie .stl_85 {
	letter-spacing: 0.16px;
}
.stl_86 {
	font-size: 0.83em;
	font-family: "RGULLL+Calibri";
	color: #000000;
}
.stl_87 {
	letter-spacing: 0.0012em;
}

.ie .stl_87 {
	letter-spacing: 0.0157px;
}
.stl_88 {
	letter-spacing: -0.0112em;
}

.ie .stl_88 {
	letter-spacing: -0.1483px;
}
.stl_89 {
	letter-spacing: 0.0041em;
}

.ie .stl_89 {
	letter-spacing: 0.0538px;
}
.stl_90 {
	font-size: 1em;
	font-family: "NEVPNJ+Wingdings", "Times New Roman";
	color: #000000;
}
.stl_91 {
	font-size: 1em;
	font-family: "UQSAWV+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #000000;
}
.stl_92 {
	letter-spacing: 0.0011em;
}

.ie .stl_92 {
	letter-spacing: 0.0152px;
}
.stl_93 {
	letter-spacing: 0.0123em;
}

.ie .stl_93 {
	letter-spacing: 0.1627px;
}
.stl_94 {
	letter-spacing: 0.0019em;
}

.ie .stl_94 {
	letter-spacing: 0.0253px;
}
.stl_95 {
	letter-spacing: 0.0122em;
}

.ie .stl_95 {
	letter-spacing: 0.1619px;
}
.stl_96 {
	letter-spacing: -0.0183em;
}

.ie .stl_96 {
	letter-spacing: -0.2428px;
}
.stl_97 {
	letter-spacing: -0.0186em;
}

.ie .stl_97 {
	letter-spacing: -0.2466px;
}
.stl_98 {
	letter-spacing: 0.0036em;
}

.ie .stl_98 {
	letter-spacing: 0.0474px;
}
.stl_99 {
	letter-spacing: -0.0031em;
}

.ie .stl_99 {
	letter-spacing: -0.0412px;
}
.stl_100 {
	font-size: 0.83em;
	font-family: "TNWMGW+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #000000;
}
.stl_101 {
	letter-spacing: 0.0038em;
}

.ie .stl_101 {
	letter-spacing: 0.0502px;
}
.stl_102 {
	letter-spacing: 0.0035em;
}

.ie .stl_102 {
	letter-spacing: 0.0463px;
}
.stl_103 {
	letter-spacing: -0.0047em;
}

.ie .stl_103 {
	letter-spacing: -0.0621px;
}
.stl_104 {
	letter-spacing: 0.0027em;
}

.ie .stl_104 {
	letter-spacing: 0.0365px;
}
.stl_105 {
	letter-spacing: 0.0121em;
}

.ie .stl_105 {
	letter-spacing: 0.1607px;
}
.stl_106 {
	letter-spacing: 0.0039em;
}

.ie .stl_106 {
	letter-spacing: 0.0517px;
}
.stl_107 {
	letter-spacing: -0.0182em;
}

.ie .stl_107 {
	letter-spacing: -0.2421px;
}
.stl_108 {
	letter-spacing: 0.0007em;
}

.ie .stl_108 {
	letter-spacing: 0.0092px;
}
.stl_109 {
	letter-spacing: -0.0034em;
}

.ie .stl_109 {
	letter-spacing: -0.0456px;
}
.stl_110 {
	letter-spacing: -0.0187em;
}

.ie .stl_110 {
	letter-spacing: -0.2483px;
}
.stl_111 {
	letter-spacing: -0.0196em;
}

.ie .stl_111 {
	letter-spacing: -0.2608px;
}
.stl_112 {
	letter-spacing: -0.0015em;
}

.ie .stl_112 {
	letter-spacing: -0.0196px;
}
.stl_113 {
	letter-spacing: 0.004em;
}

.ie .stl_113 {
	letter-spacing: 0.0536px;
}
.stl_114 {
	letter-spacing: -0.0194em;
}

.ie .stl_114 {
	letter-spacing: -0.2573px;
}
.stl_115 {
	letter-spacing: -0.0184em;
}

.ie .stl_115 {
	letter-spacing: -0.244px;
}
.stl_116 {
	letter-spacing: -0.0188em;
}

.ie .stl_116 {
	letter-spacing: -0.2497px;
}
.stl_117 {
	letter-spacing: -0.0381em;
}

.ie .stl_117 {
	letter-spacing: -0.5054px;
}
.stl_118 {
	letter-spacing: -0.0045em;
}

.ie .stl_118 {
	letter-spacing: -0.0669px;
}
.stl_119 {
	letter-spacing: -0.0085em;
}

.ie .stl_119 {
	letter-spacing: -0.1129px;
}
.stl_120 {
	letter-spacing: -0.038em;
}

.ie .stl_120 {
	letter-spacing: -0.5049px;
}
.stl_121 {
	letter-spacing: -0.0156em;
}

.ie .stl_121 {
	letter-spacing: -0.2072px;
}
.stl_122 {
	font-size: 0.92em;
	font-family: "GQQFWQ+»ªÎÄÖÐËÎ", "Times New Roman";
	color: #000000;
}
.stl_123 {
	letter-spacing: -0.0185em;
}

.ie .stl_123 {
	letter-spacing: -0.2459px;
}
.stl_124 {
	letter-spacing: -0.0189em;
}

.ie .stl_124 {
	letter-spacing: -0.2505px;
}
.stl_125 {
	letter-spacing: -0.0761em;
}

.ie .stl_125 {
	letter-spacing: -1.0718px;
}
.stl_126 {
	letter-spacing: -0.0836em;
}

.ie .stl_126 {
	letter-spacing: -1.1765px;
}
.stl_127 {
	letter-spacing: -0.0346em;
}

.ie .stl_127 {
	letter-spacing: -0.4866px;
}
.stl_128 {
	letter-spacing: -0.08em;
}

.ie .stl_128 {
	letter-spacing: -1.1259px;
}
.stl_129 {
	letter-spacing: -0.0437em;
}

.ie .stl_129 {
	letter-spacing: -0.6153px;
}
.stl_130 {
	letter-spacing: -0.0327em;
}

.ie .stl_130 {
	letter-spacing: -0.4599px;
}
.stl_131 {
	letter-spacing: -0.0404em;
}

.ie .stl_131 {
	letter-spacing: -0.5685px;
}
.stl_132 {
	letter-spacing: -0.0192em;
}

.ie .stl_132 {
	letter-spacing: -0.2553px;
}
.stl_133 {
	letter-spacing: -0.0042em;
}

.ie .stl_133 {
	letter-spacing: -0.0564px;
}
.stl_134 {
	letter-spacing: -0.0181em;
}

.ie .stl_134 {
	letter-spacing: -0.2405px;
}
.stl_135 {
	letter-spacing: -0.0044em;
}

.ie .stl_135 {
	letter-spacing: -0.0588px;
}
.stl_136 {
	letter-spacing: -0.0143em;
}

.ie .stl_136 {
	letter-spacing: -0.19px;
}
.stl_137 {
	font-size: 1em;
	font-family: "GQQFWQ+»ªÎÄÖÐËÎ", "Times New Roman";
	color: #000000;
}
.stl_138 {
	letter-spacing: 0.005em;
}

.ie .stl_138 {
	letter-spacing: 0.0662px;
}
.stl_139 {
	letter-spacing: -0.0023em;
}

.ie .stl_139 {
	letter-spacing: -0.0307px;
}
.stl_140 {
	letter-spacing: -0.0313em;
}

.ie .stl_140 {
	letter-spacing: -0.4158px;
}
.stl_141 {
	letter-spacing: 0.0026em;
}

.ie .stl_141 {
	letter-spacing: 0.0351px;
}
.stl_142 {
	letter-spacing: -0.0002em;
}

.ie .stl_142 {
	letter-spacing: -0.0026px;
}
.stl_143 {
	letter-spacing: 0.0023em;
}

.ie .stl_143 {
	letter-spacing: 0.0308px;
}
.stl_144 {
	letter-spacing: -0.0134em;
}

.ie .stl_144 {
	letter-spacing: -0.1781px;
}
.stl_145 {
	letter-spacing: -0.004em;
}

.ie .stl_145 {
	letter-spacing: -0.0526px;
}
.stl_146 {
	letter-spacing: -0.006em;
}

.ie .stl_146 {
	letter-spacing: -0.0797px;
}
.stl_147 {
	letter-spacing: -0.0218em;
}

.ie .stl_147 {
	letter-spacing: -0.2896px;
}
.stl_148 {
	letter-spacing: -0.002em;
}

.ie .stl_148 {
	letter-spacing: -0.0268px;
}
.stl_149 {
	letter-spacing: 0.0052em;
}

.ie .stl_149 {
	letter-spacing: 0.0694px;
}
.stl_150 {
	letter-spacing: -0.0075em;
}

.ie .stl_150 {
	letter-spacing: -0.0993px;
}
.stl_151 {
	letter-spacing: -0.0024em;
}

.ie .stl_151 {
	letter-spacing: -0.0321px;
}
.stl_152 {
	letter-spacing: -0.0048em;
}

.ie .stl_152 {
	letter-spacing: -0.0636px;
}
.stl_153 {
	letter-spacing: -0.0058em;
}

.ie .stl_153 {
	letter-spacing: -0.0777px;
}
.stl_154 {
	font-size: 1em;
	font-family: "TNWMGW+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #000000;
}
.stl_155 {
	letter-spacing: -0.0052em;
}

.ie .stl_155 {
	letter-spacing: -0.0693px;
}
.stl_156 {
	letter-spacing: -0.0193em;
}

.ie .stl_156 {
	letter-spacing: -0.2566px;
}
.stl_157 {
	letter-spacing: -0.0111em;
}

.ie .stl_157 {
	letter-spacing: -0.1477px;
}
.stl_158 {
	letter-spacing: -0.0199em;
}

.ie .stl_158 {
	letter-spacing: -0.2639px;
}
.stl_159 {
	letter-spacing: 0.0043em;
}

.ie .stl_159 {
	letter-spacing: 0.0566px;
}
.stl_160 {
	letter-spacing: -0.0061em;
}

.ie .stl_160 {
	letter-spacing: -0.0812px;
}
.stl_161 {
	letter-spacing: -0.028em;
}

.ie .stl_161 {
	letter-spacing: -0.3719px;
}
.stl_162 {
	letter-spacing: -0.0159em;
}

.ie .stl_162 {
	letter-spacing: -0.2117px;
}
.stl_163 {
	letter-spacing: 0.023em;
}

.ie .stl_163 {
	letter-spacing: 0.3053px;
}
.stl_164 {
	letter-spacing: -0.0081em;
}

.ie .stl_164 {
	letter-spacing: -0.108px;
}
.stl_165 {
	letter-spacing: 0.0406em;
}

.ie .stl_165 {
	letter-spacing: 0.5397px;
}
.stl_166 {
	letter-spacing: 0.0077em;
}

.ie .stl_166 {
	letter-spacing: 0.1018px;
}
.stl_167 {
	letter-spacing: -0.0412em;
}

.ie .stl_167 {
	letter-spacing: -0.5474px;
}
.stl_168 {
	letter-spacing: -0.0138em;
}

.ie .stl_168 {
	letter-spacing: -0.1827px;
}
@font-face {
	font-family:"RNUMGV+Arial Unicode MS";
	src:url("f64cc66d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_169 {
	font-size: 0.83em;
	font-family: "RNUMGV+Arial Unicode MS";
	color: #000000;
}
.stl_170 {
	line-height: 1.339844em;
}
.stl_171 {
	letter-spacing: -0.0013em;
}

.ie .stl_171 {
	letter-spacing: -0.0178px;
}
.stl_172 {
	letter-spacing: -0.0006em;
}

.ie .stl_172 {
	letter-spacing: -0.008px;
}
.stl_173 {
	letter-spacing: 0.0025em;
}

.ie .stl_173 {
	letter-spacing: 0.0329px;
}
.stl_174 {
	letter-spacing: -0.0098em;
}

.ie .stl_174 {
	letter-spacing: -0.1297px;
}
.stl_175 {
	letter-spacing: -0.0376em;
}

.ie .stl_175 {
	letter-spacing: -0.4993px;
}
.stl_176 {
	letter-spacing: -0.0089em;
}

.ie .stl_176 {
	letter-spacing: -0.1176px;
}
.stl_177 {
	letter-spacing: -0.0017em;
}

.ie .stl_177 {
	letter-spacing: -0.0244px;
}
.stl_178 {
	letter-spacing: 0.0042em;
}

.ie .stl_178 {
	letter-spacing: 0.0561px;
}
.stl_179 {
	letter-spacing: -0.0065em;
}

.ie .stl_179 {
	letter-spacing: -0.0868px;
}
.stl_180 {
	letter-spacing: -0.001em;
}

.ie .stl_180 {
	letter-spacing: -0.0128px;
}
.stl_181 {
	letter-spacing: 0.0286em;
}

.ie .stl_181 {
	letter-spacing: 0.3803px;
}
.stl_182 {
	letter-spacing: 0.0088em;
}

.ie .stl_182 {
	letter-spacing: 0.1168px;
}
.stl_183 {
	letter-spacing: -0.0205em;
}

.ie .stl_183 {
	letter-spacing: -0.2716px;
}
.stl_184 {
	letter-spacing: -0.0033em;
}

.ie .stl_184 {
	letter-spacing: -0.0433px;
}
.stl_185 {
	letter-spacing: -0.0229em;
}

.ie .stl_185 {
	letter-spacing: -0.3039px;
}
.stl_186 {
	letter-spacing: -0.0046em;
}

.ie .stl_186 {
	letter-spacing: -0.0608px;
}
.stl_187 {
	letter-spacing: -0.0054em;
}

.ie .stl_187 {
	letter-spacing: -0.0721px;
}
.stl_188 {
	letter-spacing: -0.0077em;
}

.ie .stl_188 {
	letter-spacing: -0.1026px;
}
.stl_189 {
	letter-spacing: -0.0084em;
}

.ie .stl_189 {
	letter-spacing: -0.1116px;
}
.stl_190 {
	letter-spacing: -0.024em;
}

.ie .stl_190 {
	letter-spacing: -0.3186px;
}
.stl_191 {
	letter-spacing: -0.0264em;
}

.ie .stl_191 {
	letter-spacing: -0.3509px;
}
@font-face {
	font-family:"IVIRKQ+Calibri";
	src:url("171a6632-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_192 {
	font-size: 0.83em;
	font-family: "IVIRKQ+Calibri", "Times New Roman";
	color: #000000;
}
.stl_193 {
	letter-spacing: 0.0069em;
}

.ie .stl_193 {
	letter-spacing: 0.0916px;
}
.stl_194 {
	letter-spacing: -0.0107em;
}

.ie .stl_194 {
	letter-spacing: -0.1425px;
}
@font-face {
	font-family:"EEBPOG+ºÚÌå";
	src:url("3db6bc66-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_195 {
	font-size: 2.33em;
	font-family: "EEBPOG+ºÚÌå";
	color: #000000;
}
.stl_196 {
	letter-spacing: -0.0879em;
}

.ie .stl_196 {
	letter-spacing: -1.2378px;
}
.stl_197 {
	letter-spacing: -0.0718em;
}

.ie .stl_197 {
	letter-spacing: -1.0105px;
}
.stl_198 {
	letter-spacing: -0.064em;
}

.ie .stl_198 {
	letter-spacing: -0.9007px;
}
.stl_199 {
	letter-spacing: 0.0056em;
}

.ie .stl_199 {
	letter-spacing: 0.0749px;
}
.stl_200 {
	letter-spacing: -0.0036em;
}

.ie .stl_200 {
	letter-spacing: -0.0478px;
}
.stl_201 {
	letter-spacing: -0.0066em;
}

.ie .stl_201 {
	letter-spacing: -0.0872px;
}
.stl_202 {
	letter-spacing: -0.0236em;
}

.ie .stl_202 {
	letter-spacing: -0.3128px;
}
.stl_203 {
	letter-spacing: -0.099em;
}

.ie .stl_203 {
	letter-spacing: -1.3147px;
}
.stl_204 {
	letter-spacing: -0.0041em;
}

.ie .stl_204 {
	letter-spacing: -0.0551px;
}
.stl_205 {
	letter-spacing: -0.0064em;
}

.ie .stl_205 {
	letter-spacing: -0.0847px;
}
.stl_206 {
	letter-spacing: 0.0055em;
}

.ie .stl_206 {
	letter-spacing: 0.0725px;
}
.stl_207 {
	letter-spacing: 0.0024em;
}

.ie .stl_207 {
	letter-spacing: 0.0325px;
}
.stl_208 {
	letter-spacing: 0.0082em;
}

.ie .stl_208 {
	letter-spacing: 0.1087px;
}
.stl_209 {
	letter-spacing: -0.0086em;
}

.ie .stl_209 {
	letter-spacing: -0.1146px;
}
.stl_210 {
	letter-spacing: -0.0238em;
}

.ie .stl_210 {
	letter-spacing: -0.3163px;
}
.stl_211 {
	letter-spacing: -0.0094em;
}

.ie .stl_211 {
	letter-spacing: -0.1253px;
}
.stl_212 {
	letter-spacing: -0.0146em;
}

.ie .stl_212 {
	letter-spacing: -0.1937px;
}
.stl_213 {
	letter-spacing: -0.0083em;
}

.ie .stl_213 {
	letter-spacing: -0.1097px;
}
.stl_214 {
	letter-spacing: 0.0229em;
}

.ie .stl_214 {
	letter-spacing: 0.3043px;
}
.stl_215 {
	letter-spacing: -0.0082em;
}

.ie .stl_215 {
	letter-spacing: -0.1083px;
}
.stl_216 {
	letter-spacing: -0.008em;
}

.ie .stl_216 {
	letter-spacing: -0.1061px;
}
.stl_217 {
	letter-spacing: -0.0003em;
}

.ie .stl_217 {
	letter-spacing: -0.0036px;
}
.stl_218 {
	letter-spacing: -0.0191em;
}

.ie .stl_218 {
	letter-spacing: -0.2535px;
}
.stl_219 {
	letter-spacing: -0.0027em;
}

.ie .stl_219 {
	letter-spacing: -0.0355px;
}
.stl_220 {
	letter-spacing: -0.0104em;
}

.ie .stl_220 {
	letter-spacing: -0.1379px;
}
.stl_221 {
	letter-spacing: -0.0394em;
}

.ie .stl_221 {
	letter-spacing: -0.5549px;
}
.stl_222 {
	letter-spacing: -0.0399em;
}

.ie .stl_222 {
	letter-spacing: -0.5615px;
}
.stl_223 {
	letter-spacing: -0.0505em;
}

.ie .stl_223 {
	letter-spacing: -0.7109px;
}
.stl_224 {
	letter-spacing: -0.0071em;
}

.ie .stl_224 {
	letter-spacing: -0.0947px;
}
.stl_225 {
	letter-spacing: -0.0154em;
}

.ie .stl_225 {
	letter-spacing: -0.204px;
}
.stl_226 {
	letter-spacing: -0.0161em;
}

.ie .stl_226 {
	letter-spacing: -0.2137px;
}
.stl_227 {
	letter-spacing: -0.0038em;
}

.ie .stl_227 {
	letter-spacing: -0.0504px;
}
.stl_228 {
	letter-spacing: -0.0219em;
}

.ie .stl_228 {
	letter-spacing: -0.2904px;
}
.stl_229 {
	letter-spacing: 0.009em;
}

.ie .stl_229 {
	letter-spacing: 0.1197px;
}
.stl_230 {
	letter-spacing: -0.0233em;
}

.ie .stl_230 {
	letter-spacing: -0.3088px;
}
.stl_231 {
	letter-spacing: -0.0172em;
}

.ie .stl_231 {
	letter-spacing: -0.228px;
}
.stl_232 {
	letter-spacing: -0.0234em;
}

.ie .stl_232 {
	letter-spacing: -0.3107px;
}
.stl_233 {
	letter-spacing: 0.0001em;
}

.ie .stl_233 {
	letter-spacing: 0.0013px;
}
.stl_234 {
	letter-spacing: 0.0086em;
}

.ie .stl_234 {
	letter-spacing: 0.1138px;
}
.stl_235 {
	letter-spacing: -0.0004em;
}

.ie .stl_235 {
	letter-spacing: -0.0054px;
}
.stl_236 {
	letter-spacing: 0.0087em;
}

.ie .stl_236 {
	letter-spacing: 0.116px;
}
.stl_237 {
	letter-spacing: -0.0109em;
}

.ie .stl_237 {
	letter-spacing: -0.1451px;
}
.stl_238 {
	letter-spacing: -0.0248em;
}

.ie .stl_238 {
	letter-spacing: -0.3291px;
}
.stl_239 {
	letter-spacing: -0.0121em;
}

.ie .stl_239 {
	letter-spacing: -0.1607px;
}
.stl_240 {
	letter-spacing: -0.019em;
}

.ie .stl_240 {
	letter-spacing: -0.2518px;
}
.stl_241 {
	letter-spacing: -0.0202em;
}

.ie .stl_241 {
	letter-spacing: -0.2678px;
}
.stl_242 {
	font-size: 0.88em;
	font-family: "TNWMGW+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #000000;
}
.stl_243 {
	letter-spacing: -0.0039em;
}

.ie .stl_243 {
	letter-spacing: -0.0518px;
}
@font-face {
	font-family:"DWBODJ+Cambria,Bold";
	src:url("1560c2b4-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_244 {
	font-size: 0.83em;
	font-family: "DWBODJ+Cambria,Bold";
	color: #000000;
}
.stl_245 {
	line-height: 1.172363em;
}
.stl_246 {
	letter-spacing: -0.0007em;
}

.ie .stl_246 {
	letter-spacing: -0.0091px;
}
.stl_247 {
	letter-spacing: 0.002em;
}

.ie .stl_247 {
	letter-spacing: 0.0266px;
}
.stl_248 {
	letter-spacing: -0.0378em;
}

.ie .stl_248 {
	letter-spacing: -0.5014px;
}
.stl_249 {
	letter-spacing: 0.0348em;
}

.ie .stl_249 {
	letter-spacing: 0.9312px;
}
.stl_250 {
	letter-spacing: 0.025em;
}

.ie .stl_250 {
	letter-spacing: 0.9312px;
}
.stl_251 {
	letter-spacing: -0.0612em;
}

.ie .stl_251 {
	letter-spacing: -0.8611px;
}
.stl_252 {
	letter-spacing: -0.066em;
}

.ie .stl_252 {
	letter-spacing: -0.9286px;
}
.stl_253 {
	letter-spacing: -0.0604em;
}

.ie .stl_253 {
	letter-spacing: -0.8511px;
}
.stl_254 {
	letter-spacing: 0.0006em;
}

.ie .stl_254 {
	letter-spacing: 0.008px;
}
.stl_255 {
	letter-spacing: -0.0155em;
}

.ie .stl_255 {
	letter-spacing: -0.2055px;
}
.stl_256 {
	letter-spacing: -0.0051em;
}

.ie .stl_256 {
	letter-spacing: -0.0682px;
}
.stl_257 {
	letter-spacing: 0.0084em;
}

.ie .stl_257 {
	letter-spacing: 0.1115px;
}
.stl_258 {
	letter-spacing: 0.0062em;
}

.ie .stl_258 {
	letter-spacing: 0.0825px;
}
.stl_259 {
	letter-spacing: 0.0057em;
}

.ie .stl_259 {
	letter-spacing: 0.0754px;
}
.stl_260 {
	letter-spacing: -0.0005em;
}

.ie .stl_260 {
	letter-spacing: -0.0063px;
}
.stl_261 {
	letter-spacing: -0.0055em;
}

.ie .stl_261 {
	letter-spacing: -0.0733px;
}
.stl_262 {
	letter-spacing: -0.0225em;
}

.ie .stl_262 {
	letter-spacing: -0.2985px;
}
.stl_263 {
	letter-spacing: 0.0067em;
}

.ie .stl_263 {
	letter-spacing: 0.0885px;
}
.stl_264 {
	letter-spacing: -0.0037em;
}

.ie .stl_264 {
	letter-spacing: -0.0488px;
}
.stl_265 {
	letter-spacing: -0.0149em;
}

.ie .stl_265 {
	letter-spacing: -0.3981px;
}
.stl_266 {
	letter-spacing: -0.0638em;
}

.ie .stl_266 {
	letter-spacing: -0.8988px;
}
.stl_267 {
	letter-spacing: -0.0053em;
}

.ie .stl_267 {
	letter-spacing: -0.075px;
}
.stl_268 {
	letter-spacing: -0.0529em;
}

.ie .stl_268 {
	letter-spacing: -0.7454px;
}
.stl_269 {
	letter-spacing: -0.036em;
}

.ie .stl_269 {
	letter-spacing: -0.5074px;
}
.stl_270 {
	letter-spacing: 0.0142em;
}

.ie .stl_270 {
	letter-spacing: 0.1885px;
}
.stl_271 {
	letter-spacing: -0.0099em;
}

.ie .stl_271 {
	letter-spacing: -0.1319px;
}
.stl_272 {
	letter-spacing: -0.0116em;
}

.ie .stl_272 {
	letter-spacing: -0.1541px;
}
.stl_273 {
	letter-spacing: -0.0105em;
}

.ie .stl_273 {
	letter-spacing: -0.1394px;
}
.stl_274 {
	letter-spacing: -0.0001em;
}

.ie .stl_274 {
	letter-spacing: -0.001px;
}
.stl_275 {
	letter-spacing: -0.0165em;
}

.ie .stl_275 {
	letter-spacing: -0.2186px;
}
.stl_276 {
	letter-spacing: -0.0195em;
}

.ie .stl_276 {
	letter-spacing: -0.2591px;
}
.stl_277 {
	letter-spacing: 0.0228em;
}

.ie .stl_277 {
	letter-spacing: 0.3029px;
}
.stl_278 {
	letter-spacing: -0.011em;
}

.ie .stl_278 {
	letter-spacing: -0.1461px;
}
.stl_279 {
	letter-spacing: -0.0157em;
}

.ie .stl_279 {
	letter-spacing: -0.2083px;
}
.stl_280 {
	letter-spacing: 0.0004em;
}

.ie .stl_280 {
	letter-spacing: 0.0053px;
}
.stl_281 {
	letter-spacing: 0.0021em;
}

.ie .stl_281 {
	letter-spacing: 0.0275px;
}
.stl_282 {
	letter-spacing: 0.0076em;
}

.ie .stl_282 {
	letter-spacing: 0.1003px;
}
.stl_283 {
	letter-spacing: 0.0068em;
}

.ie .stl_283 {
	letter-spacing: 0.0908px;
}
.stl_284 {
	letter-spacing: -0.0605em;
}

.ie .stl_284 {
	letter-spacing: -0.8518px;
}
.stl_285 {
	letter-spacing: -0.0019em;
}

.ie .stl_285 {
	letter-spacing: -0.0255px;
}
.stl_286 {
	letter-spacing: 0.0044em;
}

.ie .stl_286 {
	letter-spacing: 0.058px;
}
.stl_287 {
	letter-spacing: 0.015em;
}

.ie .stl_287 {
	letter-spacing: 0.1986px;
}
.stl_288 {
	letter-spacing: 0.0175em;
}

.ie .stl_288 {
	letter-spacing: 0.2319px;
}
.stl_289 {
	letter-spacing: -0.0222em;
}

.ie .stl_289 {
	letter-spacing: -0.295px;
}
.stl_290 {
	letter-spacing: 0.0079em;
}

.ie .stl_290 {
	letter-spacing: 0.105px;
}
.stl_291 {
	letter-spacing: -0.0223em;
}

.ie .stl_291 {
	letter-spacing: -0.2962px;
}
.stl_292 {
	letter-spacing: -0.0093em;
}

.ie .stl_292 {
	letter-spacing: -0.1235px;
}
.stl_293 {
	letter-spacing: 0.0117em;
}

.ie .stl_293 {
	letter-spacing: 0.1558px;
}
.stl_294 {
	letter-spacing: -0.0148em;
}

.ie .stl_294 {
	letter-spacing: -0.3951px;
}
.stl_295 {
	letter-spacing: -0.0106em;
}

.ie .stl_295 {
	letter-spacing: -0.3951px;
}
.stl_296 {
	letter-spacing: -0.0243em;
}

.ie .stl_296 {
	letter-spacing: -0.3422px;
}
.stl_297 {
	letter-spacing: -0.0647em;
}

.ie .stl_297 {
	letter-spacing: -0.9117px;
}
.stl_298 {
	letter-spacing: -0.0315em;
}

.ie .stl_298 {
	letter-spacing: -0.4442px;
}
.stl_299 {
	letter-spacing: -0.0423em;
}

.ie .stl_299 {
	letter-spacing: -0.596px;
}
.stl_300 {
	letter-spacing: -0.0211em;
}

.ie .stl_300 {
	letter-spacing: -0.2808px;
}
.stl_301 {
	letter-spacing: -0.0049em;
}

.ie .stl_301 {
	letter-spacing: -0.065px;
}
.stl_302 {
	letter-spacing: -0.034em;
}

.ie .stl_302 {
	letter-spacing: -0.4509px;
}
.stl_303 {
	letter-spacing: -0.241em;
}

.ie .stl_303 {
	letter-spacing: -3.2px;
}
.stl_304 {
	letter-spacing: -0.1146em;
}

.ie .stl_304 {
	letter-spacing: -1.5213px;
}
.stl_305 {
	letter-spacing: -0.0174em;
}

.ie .stl_305 {
	letter-spacing: -0.2314px;
}
.stl_306 {
	letter-spacing: -0.015em;
}

.ie .stl_306 {
	letter-spacing: -0.1994px;
}
.stl_307 {
	letter-spacing: -0.0087em;
}

.ie .stl_307 {
	letter-spacing: -0.116px;
}
.stl_308 {
	letter-spacing: -0.0158em;
}

.ie .stl_308 {
	letter-spacing: -0.2101px;
}
.stl_309 {
	letter-spacing: -0.0163em;
}

.ie .stl_309 {
	letter-spacing: -0.216px;
}
.stl_310 {
	letter-spacing: -0.0321em;
}

.ie .stl_310 {
	letter-spacing: -0.4268px;
}
.stl_311 {
	letter-spacing: 0.0051em;
}

.ie .stl_311 {
	letter-spacing: 0.0673px;
}
.stl_312 {
	letter-spacing: 0.0235em;
}

.ie .stl_312 {
	letter-spacing: 0.3118px;
}
.stl_313 {
	letter-spacing: -0.0226em;
}

.ie .stl_313 {
	letter-spacing: -0.3001px;
}
.stl_314 {
	letter-spacing: 0.056em;
}

.ie .stl_314 {
	letter-spacing: 0.7434px;
}
.stl_315 {
	letter-spacing: 0.0108em;
}

.ie .stl_315 {
	letter-spacing: 0.1431px;
}
.stl_316 {
	letter-spacing: -0.0153em;
}

.ie .stl_316 {
	letter-spacing: -0.4097px;
}
.stl_317 {
	letter-spacing: -0.0329em;
}

.ie .stl_317 {
	letter-spacing: -0.4637px;
}
.stl_318 {
	letter-spacing: 0.0003em;
}

.ie .stl_318 {
	letter-spacing: 0.0044px;
}
.stl_319 {
	letter-spacing: -0.0012em;
}

.ie .stl_319 {
	letter-spacing: -0.0166px;
}
.stl_320 {
	letter-spacing: -0.0009em;
}

.ie .stl_320 {
	letter-spacing: -0.0122px;
}
.stl_321 {
	letter-spacing: -0.0072em;
}

.ie .stl_321 {
	letter-spacing: -0.0957px;
}
.stl_322 {
	letter-spacing: -0.0079em;
}

.ie .stl_322 {
	letter-spacing: -0.1044px;
}
.stl_323 {
	letter-spacing: 0.0005em;
}

.ie .stl_323 {
	letter-spacing: 0.0072px;
}
.stl_324 {
	font-size: 2.33em;
	font-family: "RGULLL+Calibri";
	color: #000000;
}
.stl_325 {
	letter-spacing: -0.0441em;
}

.ie .stl_325 {
	letter-spacing: -0.6211px;
}
.stl_326 {
	letter-spacing: -0.055em;
}

.ie .stl_326 {
	letter-spacing: -0.7739px;
}
.stl_327 {
	letter-spacing: 0.0071em;
}

.ie .stl_327 {
	letter-spacing: 0.0944px;
}
.stl_328 {
	letter-spacing: -0.0136em;
}

.ie .stl_328 {
	letter-spacing: -0.1808px;
}
.stl_329 {
	letter-spacing: -0.0076em;
}

.ie .stl_329 {
	letter-spacing: -0.1005px;
}
.stl_330 {
	letter-spacing: 0.0112em;
}

.ie .stl_330 {
	letter-spacing: 0.1485px;
}
.stl_331 {
	letter-spacing: 0.0094em;
}

.ie .stl_331 {
	letter-spacing: 0.2515px;
}
.stl_332 {
	letter-spacing: -0.0548em;
}

.ie .stl_332 {
	letter-spacing: -0.7711px;
}
.stl_333 {
	letter-spacing: -0.059em;
}

.ie .stl_333 {
	letter-spacing: -0.8311px;
}
.stl_334 {
	letter-spacing: 0.0234em;
}

.ie .stl_334 {
	letter-spacing: 0.3103px;
}
.stl_335 {
	letter-spacing: -0.0379em;
}

.ie .stl_335 {
	letter-spacing: -0.5033px;
}
.stl_336 {
	letter-spacing: -0.0294em;
}

.ie .stl_336 {
	letter-spacing: -0.391px;
}
.stl_337 {
	letter-spacing: -0.0091em;
}

.ie .stl_337 {
	letter-spacing: -0.1206px;
}
.stl_338 {
	letter-spacing: 0.0168em;
}

.ie .stl_338 {
	letter-spacing: 0.2228px;
}
.stl_339 {
	letter-spacing: 0.0172em;
}

.ie .stl_339 {
	letter-spacing: 0.2285px;
}
.stl_340 {
	letter-spacing: -0.014em;
}

.ie .stl_340 {
	letter-spacing: -0.1858px;
}
.stl_341 {
	letter-spacing: -0.007em;
}

.ie .stl_341 {
	letter-spacing: -0.0924px;
}
.stl_342 {
	letter-spacing: -0.0237em;
}

.ie .stl_342 {
	letter-spacing: -0.3143px;
}
.stl_343 {
	letter-spacing: -0.0214em;
}

.ie .stl_343 {
	letter-spacing: -0.2845px;
}
.stl_344 {
	letter-spacing: 0.0058em;
}

.ie .stl_344 {
	letter-spacing: 0.0771px;
}
.stl_345 {
	letter-spacing: -0.0288em;
}

.ie .stl_345 {
	letter-spacing: -0.383px;
}
.stl_346 {
	letter-spacing: 0.0054em;
}

.ie .stl_346 {
	letter-spacing: 0.0721px;
}
.stl_347 {
	letter-spacing: -0.009em;
}

.ie .stl_347 {
	letter-spacing: -0.1189px;
}
.stl_348 {
	letter-spacing: -0.0782em;
}

.ie .stl_348 {
	letter-spacing: -1.0385px;
}
.stl_349 {
	letter-spacing: -0.0257em;
}

.ie .stl_349 {
	letter-spacing: -0.3411px;
}
.stl_350 {
	letter-spacing: -0.0709em;
}

.ie .stl_350 {
	letter-spacing: -0.941px;
}
.stl_351 {
	letter-spacing: -0.0198em;
}

.ie .stl_351 {
	letter-spacing: -0.2626px;
}
.stl_352 {
	letter-spacing: -0.0097em;
}

.ie .stl_352 {
	letter-spacing: -0.1293px;
}
.stl_353 {
	letter-spacing: -0.0242em;
}

.ie .stl_353 {
	letter-spacing: -0.321px;
}
.stl_354 {
	letter-spacing: -0.0063em;
}

.ie .stl_354 {
	letter-spacing: -0.0832px;
}
.stl_355 {
	letter-spacing: -0.0043em;
}

.ie .stl_355 {
	letter-spacing: -0.057px;
}
.stl_356 {
	letter-spacing: 0.0089em;
}

.ie .stl_356 {
	letter-spacing: 0.1188px;
}
.stl_357 {
	letter-spacing: -0.0544em;
}

.ie .stl_357 {
	letter-spacing: -0.766px;
}
.stl_358 {
	letter-spacing: -0.0118em;
}

.ie .stl_358 {
	letter-spacing: -0.1568px;
}
.stl_359 {
	letter-spacing: -0.0117em;
}

.ie .stl_359 {
	letter-spacing: -0.1557px;
}
.stl_360 {
	letter-spacing: -0.0254em;
}

.ie .stl_360 {
	letter-spacing: -0.3375px;
}
.stl_361 {
	letter-spacing: -0.0265em;
}

.ie .stl_361 {
	letter-spacing: -0.3519px;
}
.stl_362 {
	letter-spacing: -0.0221em;
}

.ie .stl_362 {
	letter-spacing: -0.294px;
}
.stl_363 {
	letter-spacing: -0.0123em;
}

.ie .stl_363 {
	letter-spacing: -0.1638px;
}
.stl_364 {
	letter-spacing: 0.0475em;
}

.ie .stl_364 {
	letter-spacing: 0.6306px;
}
.stl_365 {
	font-size: 1em;
	font-family: "RGULLL+Calibri";
	color: #000000;
}
.stl_366 {
	letter-spacing: -0.0115em;
}

.ie .stl_366 {
	letter-spacing: -0.1531px;
}
.stl_367 {
	letter-spacing: -0.0114em;
}

.ie .stl_367 {
	letter-spacing: -0.1515px;
}
.stl_368 {
	letter-spacing: 0.0161em;
}

.ie .stl_368 {
	letter-spacing: 0.2143px;
}
.stl_369 {
	letter-spacing: 0.051em;
}

.ie .stl_369 {
	letter-spacing: 0.6773px;
}
.stl_370 {
	letter-spacing: 0.0474em;
}

.ie .stl_370 {
	letter-spacing: 0.6294px;
}
.stl_371 {
	letter-spacing: -0.017em;
}

.ie .stl_371 {
	letter-spacing: -0.2258px;
}
.stl_372 {
	letter-spacing: -0.0167em;
}

.ie .stl_372 {
	letter-spacing: -0.2215px;
}
.stl_373 {
	letter-spacing: 0.0399em;
}

.ie .stl_373 {
	letter-spacing: 0.5304px;
}
.stl_374 {
	letter-spacing: -0.0169em;
}

.ie .stl_374 {
	letter-spacing: -0.225px;
}
.stl_375 {
	letter-spacing: -0.0822em;
}

.ie .stl_375 {
	letter-spacing: -1.1568px;
}
.stl_376 {
	letter-spacing: -0.0217em;
}

.ie .stl_376 {
	letter-spacing: -0.2876px;
}
.stl_377 {
	letter-spacing: 0.01em;
}

.ie .stl_377 {
	letter-spacing: 0.1328px;
}
.stl_378 {
	letter-spacing: -0.0301em;
}

.ie .stl_378 {
	letter-spacing: -0.3997px;
}
.stl_379 {
	letter-spacing: -0.0591em;
}

.ie .stl_379 {
	letter-spacing: -0.832px;
}
.stl_380 {
	letter-spacing: -0.0421em;
}

.ie .stl_380 {
	letter-spacing: -0.5933px;
}
.stl_381 {
	letter-spacing: -0.0347em;
}

.ie .stl_381 {
	letter-spacing: -0.4611px;
}
.stl_382 {
	letter-spacing: 0.0081em;
}

.ie .stl_382 {
	letter-spacing: 0.1071px;
}
.stl_383 {
	letter-spacing: -0.0059em;
}

.ie .stl_383 {
	letter-spacing: -0.0783px;
}
.stl_384 {
	letter-spacing: -0.06em;
}

.ie .stl_384 {
	letter-spacing: -0.8443px;
}
.stl_385 {
	letter-spacing: -0.0607em;
}

.ie .stl_385 {
	letter-spacing: -0.855px;
}
.stl_386 {
	letter-spacing: -0.0385em;
}

.ie .stl_386 {
	letter-spacing: -0.6158px;
}
.stl_387 {
	letter-spacing: -0.0135em;
}

.ie .stl_387 {
	letter-spacing: -0.1789px;
}
.stl_388 {
	letter-spacing: 0.0216em;
}

.ie .stl_388 {
	letter-spacing: 0.2868px;
}
.stl_389 {
	letter-spacing: -0.0056em;
}

.ie .stl_389 {
	letter-spacing: -0.0743px;
}
